body, html {
  height: 100%;
  min-height: 100%;
  padding: 0 20px;
  margin: 0;
}

body {
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

a {
  color: #00B7FF;
}

.original-tweet-title {
  color: #55ACEE;
}

.centered {
  text-align: center;
}

.upsell-container {
  max-width: 500px;
  margin: 30px auto 20px auto;
  border-radius: 11px;
  padding: 20px 15px;
  background: #f6f7f8;
  color: #999;
}

.upsell-container p {
  font-size: 1em;
  margin: 0;
}

#install-button {
  width: 200px;
  text-align: center;
  height: 49px;
  padding: 0 !important;
  text-transform: uppercase;
  margin: 10px auto 0px auto;
  display: block;
  cursor: pointer;
  border-color: transparent;
  background-color: #55ACEE;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  letter-spacing: 0.08em;
}

.tweet {
  font-size: 1.2em;
  line-height: 1.7em;
  max-width: 700px;
  margin: 0 auto;
  color: #000;
  font-weight: 400;
}

.tweet:before {
  content: '" ';
  font-size: 1.5em;
}

.tweet:after {
  content: ' "';
  font-size: 1.5em;
}

.brand {
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 0 10px 0;
  font-size: 4em;
  font-weight: 500;
  color: #555;
  letter-spacing: -0.07em;
}

.brand:after {
  content: '';
  border-bottom: 7px solid #ddd;
  display: block;
  width: 40px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

.hero img {
  max-width: 100%;
  background: #f6f7f8;
  padding: 4px;
}

.tagline {
  font-size: 1.5em;
  font-size: 400;
  text-align: center;
}

.install-button {
  width: 200px;
  text-align: center;
  height: 49px;
  padding: 0 !important;
  text-transform: uppercase;
  margin: 10px auto 10px auto;
  display: block;
  cursor: pointer;
  border-color: transparent;
  background-color: #55ACEE;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  letter-spacing: 0.08em;
  outline: none;
  transition: margin 0.2s ease-in;
}

.install-button:active {
  outline: none;
  transform: translateY(2px);
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

footer .made-by {
  text-align: center;
}