extends layout

block content
  h2.centered.original-tweet-title Original tweet
  p.tweet #{tweet}
  div.centered.upsell-container
      p Save time and see full-length tweets <br/> right on Twitter.
      button#install-button.install-button(onclick="chrome.webstore.install()") Get Chrome extension
